.grid-container {
  grid-template-areas:
    "head"
    "main"
    "foot";

  grid-template-rows: 60px 1fr 285px;
  grid-template-columns: 1fr;
  height: 100vh;
}

main {
  width: 90%;
  max-width: 1000px;
  margin: 10px auto !important;
}
.main-div {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 5px;
}
